[run]
branch = True
omit =
    */tests/*
    */__pycache__/*
    backend/scripts/*
    backend/alembic/*
    backend/database/*

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == "__main__":
    raise NotImplementedError
